
<div class="card text-dark bg-light mb-3">
  <div class="card-header h2 text-primary text-center">{{titulo}}</div>
    <div class="card-body">
      <button class="btn btn-secondary y-2" routerLink="/cursos">«volver</button>
      <form>
        <div class="form-group">
          <label for="nombre">Nombre</label>
          <input class="form-control" type="text" name="nombre" [(ngModel)]="model.nombre" id="nombre">
          <div class="alert alert-danger" *ngIf="error?.nombre">{{error.nombre}}</div>
        </div>

        <div class="form-group">
          <button class="btn btn-primary" type="button" (click)="model.id? editar():crear()"
          >{{model.id? 'Editar':'Crear'}}</button>
        </div>
      </form>
  </div>
</div>
